  <h2 class="text-center">Dashboard</h2>

<div>
  <h4 class="text-center">Refresh Matviews Cuncurrently</h4>
  <a href="http://localhost:3000/api/refresh_matviews" target="_blank" class="btn btn-primary btn-block">Refresh</a>
</div>

<div>
  <h4 class="text-center">Update Records</h4>

  <button class="btn btn-warning btn-block">Imports</button>
  <button class="btn btn-success btn-block">Exports</button>
</div>


<div>
  <h4 class="text-center">Links</h4>

  <h5>
    <a href="http://www.erca.gov.et" class="btn btn-link btn-block" target="_blank">
      ERCA Website
    </a>
  </h5>
  <p>
    Updated import and export records are uploaded roughly every two months.
  </p>
  
  <h5>
    <a class="btn btn-link btn-block" target="_blank>"
      Format Records
    </a>
  </h5>
  <p>
    The updated records from the ERCA website need to be aggregated annually and formatted before being uploaded into the hsethiopia database.
  </p>
</div>