<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of columns">{{ col.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let col of columns">{{ row[col.name] }}</td>
    </tr>
  </tbody>
</table>
<p>code: {{code}}</p>
<p>type: {{type}}</p>



<!-- <input *ngIf="config.filtering" placeholder="Filter"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable(config)"/> -->
<!-- 
<ng-table [config]="config.sorting"
           (tableChanged)="onChangeTable(config)"
           [rows]="rows" [columns]="columns">
</ng-table> -->

<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page:  / </pre> -->