<nav class="navbar navbar-default navigation-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="gotoLink('')">HS Ethiopia</a>
    </div>

    <div class="navbar-form navbar-left navbar-searchbar">
      <hscode-search></hscode-search>
    </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" [collapse]="isCollapsed">
      
      <ul class="nav navbar-nav">
        
        <!-- Countries -->
        <li dropdown (onToggle)="toggled($event)">
          <a href id="simple-dropdown" dropdownToggle>
            Countries <span class="caret"></span>
          </a>
          <ul class="dropdown-menu scrollable-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let choice of countriesLinks">
              <a class="dropdown-item" (click)="gotoCountry(choice)">{{choice}}</a>
            </li>
          </ul>
        </li>
        
        <!-- Years -->
        <li dropdown (onToggle)="toggled($event)">
          <a href id="simple-dropdown" dropdownToggle>
            Annual Summaries <span class="caret"></span>
          </a>
          <ul class="dropdown-menu scrollable-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let choice of yearsLinks">
              <a class="dropdown-item" (click)="gotoYear(choice)">{{choice}}</a>
            </li>
          </ul>
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->


  </div>
</nav>



