.navigation-bar{
  // background-color: rgba(37, 37, 37, 0.86) !important; 
  font-weight: 600;
  border-radius: 0;
}

button.navbar-toggle{
  border: 2px solid rgba(255, 255, 255, 0.7);
  &:hover{
    border: 2px solid rgba(255, 255, 255, 1);
  }
}
.icon-bar{
  background: rgba(255, 255, 255, 0.7) !important;
  &:hover{
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}