#search-results{
  max-height: 150px;
  height: auto;
  overflow-y: auto;
  background: #fff;
  color: #37474F;
  font-weight: 600;

  border: 1px solid #BDBDBD;
  border-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}