#search-box{
  z-index: 100;
}
@media(max-width: 767px){
  #search-box{
    width: 95%;
    margin-left: 2.5%;
  }
}
#search-results{
  overflow: hidden;
  z-index: 99;
  width: 95%;
  margin-left: 2.5%;
  position: absolute;
  max-height: 250px;
  overflow: auto;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 3px;
  border: 1px solid rgba(170, 178, 189, 0.2);
}
.search-result{
  color: #1d6351;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
}
.search-result:hover{
  background: rgba(55, 188, 155, 0.69);
}
.search-result-code{
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}
.search-result-description{
  display: table-cell;
  vertical-align: middle;
}


@media(min-width: 768px){
  #search-component, #search-box{
    width: 100% !important;
  }
  #search-results{
    left: 110px;
    width: 38%;
  } 
}
@media(min-width: 900px){
  #search-results{
    left: 110px;
    width: 48%;
  } 
}