<div id="search-component">
  <h4>Hscode Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <p>{{hscodes}}</p>
    <ul>
      <li *ngFor="let hscode of hscodes | async"
           (click)="gotoDetail(hscode)" class="search-result" >
        {{hscode.code}}
      </li>
    </ul>
  </div>
</div>


<!-- <div class="row">
  <div class="homepage-searchbar">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search HS Codes...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
</div> -->