<div class="row">
  <div class="col-md-4">
    <div class="well intro">
      <h3 class="text-center">Ethiopian Import/Export Statistics</h3>
      <p>
        The purpose of this site is to make Ethiopian import and export statistics available in a userfriendly and clear format in order to promote:
      </p>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Investment</h4>
          <p class="list-group-item-text">
            assist potential investors discover opportunities for import substitution.
          </p>
        </li>
        <li class="list-group-item">  
          <h4 class="list-group-item-heading">Growth</h4>
          <p class="list-group-item-text">
            help businesses identify developing trends to guide decisions. 
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">Research</h4>
          <p class="list-group-item-text">
            serve as a reference for students, researchers and decision makers.
          </p>
        </li>
      </ul>
      <p>
        You can search and select an HS Code from the table, select a country from the drop down in the header or check out one of the annual summaries from the dropdown link above.

        <!-- If you have any questions about the site or feedback on how to improve it, please send an email to ----@gmail.com -->

        Good luck and happy browsing!
      </p>
      <small>
        The data on this site is available to the public from the <%= link_to 'Ethiopian Revenue and Customs Authority (ERCA)', "http://www.erca.gov.et/", target: "_blank" %> and is updated every two months.
      </small>
    </div>
  </div>

  <div class="col-md-8">
    <annual-chart></annual-chart>
  </div>
</div>
