<div class="jumbotron text-center">
  <h2>Ethiopian Import and Export Statistics</h2>
  <p>Search HS Codes below, or select a country or annual summary from the links above.</p>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search HS Codes...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>

<div class="col-sm-6 col-sm-offset-3">
  Is this working?
</div>
<ul>
  <li *ngFor="let hscode of hscodes"
      (click)="gotoDetail(hscode)">
    {{hscode.code}}
  </li>
</ul>