<div class="jumbotron text-center">
  <h2>Ethiopian Import and Export Statistics</h2>
  <p>Search HS Codes below, or select a country or annual summary from the links above.</p>
</div>

<div class="row">
  <div class="homepage-searchbar">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search HS Codes...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <th>Code</th>
      <th>Description</th>
    </thead>
    <tbody>
      <tr *ngFor="let hscode of hscodes"
          (click)="gotoDetail(hscode)">
        <td>{{hscode.code}}</td>
        <td>{{hscode.description}}</td>
      </tr>
    </tbody>
  </table>
</div>