.related-codes{
  height: auto;
  overflow-y: auto;
  max-height: 300px;
  ul{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    // li{
    //   &:hover{
    //     background-color: #E1BEE7;
    //     font-weight: 600;
    //   }
    // }
  }
}
// @media(max-width: 767px){
//   .related-codes{
//     max-height: 300px;
//   }
// }
// @media(min-width: 768px){
//   .related-codes{
//     max-height: 450px;
//   }
// }

.selected-hscode{
  background: #E3F2FD !important;
}
.related-code{
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px
}
.related-description{
  display: table-cell;
  vertical-align: middle;
}