.related-codes{
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  ul{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    li{
      a{
        font-weight: 600;
      }
      /*padding: 10px;*/
      
    }
  }

}
.selected-hscode{
  background: #E3F2FD !important;
}
.related-code{
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px
}
.related-description{
  display: table-cell;
  vertical-align: middle;
}