<div class="container-fluid">
  <div class="col-sm-3 summary-col">
    <div class="summary-box">
      <div class="summary-box-top">
        <h4 class="totals">Total Imports</h4>
      </div>
      <div class="summary-box-bot" id="sb-total-imports">
        <h4>{{ (totalImports - 0) | currency:'USD':true:'.2' }}</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-3 summary-col">
    <div class="summary-box">
      <div class="summary-box-top">
        <h4 class="totals">Total Exports</h4>
      </div>
      <div class="summary-box-bot" id="sb-total-exports">
        <h4>{{ (totalExports - 0) | currency:'USD':true:'.2' }}</h4>
      </div>
    </div>
  </div>

  <div class="col-sm-3 summary-col">
    <div class="summary-box">
      <div class="summary-box-top">
        <h4 class="countries">Countries imported from</h4>
      </div>
      <div class="summary-box-bot" id="sb-countries-imported-from">
        <h2>{{ countriesImportedFrom }}</h2>
      </div>
    </div>
  </div>

  <div class="col-sm-3 summary-col">
    <div class="summary-box">
      <div class="summary-box-top">
        <h4 class="countries">Countries exported to</h4>
      </div>
      <div class="summary-box-bot" id="sb-countries-exported-to">
        <h2>{{ countriesExportedTo }}</h2>
      </div>
    </div>
  </div>
</div>