<h1 class="text-center" *ngIf="year">{{year}}</h1>

<div class="row">
  <summary-boxes
    *ngIf="countriesExportedTo"
    [totalImports]="totalImports"
    [totalExports]="totalExports"
    [countriesImportedFrom]="countriesImportedFrom"
    [countriesExportedTo]="countriesExportedTo"></summary-boxes>
</div>

<!-- Add chart here -->
<h2 class="text-center">Top Ten Countries</h2>
<div class="row">

  <div class="col-md-6">
    
    <h3 class="text-center">Imports</h3>

    <top-ten-chart [chartType]="topTenCountriesImport" 
                   *ngIf="topTenCountriesImports"
                   [chartData]="topTenCountriesImports"></top-ten-chart>
    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>CIF ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let import of topTenCountriesImports">
          <td>{{import[0]}}</td>
          <td>{{import[1]}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-6">

    <h3 class="text-center">Exports</h3>
    
    <top-ten-chart [chartType]="topTenCountriesExport"
                   *ngIf="topTenCountriesExports"
                   [chartData]="topTenCountriesExports"></top-ten-chart>

    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>CIF ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let import of topTenCountriesExports">
          <td>{{import[0]}}</td>
          <td>{{import[1]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<h2 class="text-center">Top Ten HS Codes</h2>
<div class="row">

  <div class="col-md-6">
    
    <h3 class="text-center">Imports</h3>
    
    <top-ten-chart [chartType]="topTenHscodesImport"
                   *ngIf="topTenHscodesImports"
                   [chartData]="topTenHscodesImports"></top-ten-chart>

    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>CIF ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let import of topTenHscodesImports">
          <td>{{import[0]}}</td>
          <td>{{import[1]}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col-md-6">

    <h3 class="text-center">Exports</h3>
    
    <top-ten-chart [chartType]="topTenHscodesExport"
                   *ngIf="topTenHscodesExports"
                   [chartData]="topTenHscodesExports"></top-ten-chart>

    <table class="table">
      <thead>
        <tr>
          <th>Country</th>
          <th>CIF ($)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let import of topTenHscodesExports">
          <td>{{import[0]}}</td>
          <td>{{import[1]}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>